* {
	margin: 0px;
	padding: 0px;
}

body{
    font-family: Nunito, 'Montserrat', sans-serif;
}

.white {
	color: #ffffff;
	font-size: 18px;
}

a{
	text-decoration: none;
}

b{
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin: 5px;
	border: 1px;
	border-color:  rgb(0, 0, 0);
}  

.color_text {
	color: #192a56;
}

.h1 {
	font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
	color: #2f3640;
	text-align: center;
}

.float-right {
	float: right;
}
		
.float-left {
	float: left;
}

.white {
	color: #ffffff;
	font-size: 18px;
}

.error_input {
	border: 2px solid #ed4c67;
}

/* Boton de Registrar */
#btn_registrar {
            background-color: #f27232; 
            padding: 10px;
            width: 170px;
            font-size: 18px;
            color: #fff;
            margin-bottom: 50px;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 25px -8px rgba(0,0,0,0.75);
            -moz-box-shadow: 5px 5px 25px -8px rgba(0,0,0,0.75);
            box-shadow: 5px 5px 25px -8px rgba(0,0,0,0.75);
            clear: both;
		}

/* Estilos header y footer */

.img_logo	{
	float: left;
    margin-left: 20px;
	margin-top: 20px;
}
.main_header {
	background-color: #192a56;
	width: 100%;
	height: 120px;
	margin-bottom: 80px;
}

.main_header_perfil {
	background-color: #192a56;
	width: 100%;
	height: 120px;
}
.registrar_cuenta {
	padding: 11px;
	border:#f27232 solid 1px;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
}
.registrar_cuenta:hover {
	padding: 11px;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	background-color: #f27232;
}
.iniciar_sesion {
	padding: 11px;
	border:#f27232 solid 1px;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	
}

.cerrar_sesion {
	padding: 11px;
	border:#f27232 solid 1px;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
}

.cerrar_sesion:hover {
	padding: 11px;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	background-color: #f27232;
}
		
.iniciar_sesion:hover {
	padding: 11px;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	background-color: #f27232;
}
.middle {
	margin-top: 80px;;
	margin-bottom: auto;
}

.main_footer {
    background-color: #1e272e;
	width: 100%;
	height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
  
}
		
.footer_nav a {
	color: #fff;
	text-decoration: none;
}
		
.footer_nav a:hover {
	color: #f27232;
	text-decoration: none;
}
		
.vertical-line{
	color: #fff;
	padding: 15px;
}








