body{
    font-family: Nunito;
    background: #ffffff;
}
#section{
    box-shadow: 0 4px 8px 0 #143646;
    padding: 20px;
    width: 780px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}


.main{
    height: 900px;
}

.wrapper {
    margin-left: 20px;
}

#columna_derecha{
    box-shadow: 0 4px 8px 0 #143646;
    padding: 20px;
    width: 780px;
    margin-left: auto;
    margin-right: auto;

}

#frm_registro_pf {
    position: absolute;
    top: 400px;
}

form section div{
    margin-bottom: 15px;
}


.header{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #2f3640;
    text-align: center;

}


input, textarea, option, select{
    padding: 6px 12px;
    font-size: 18px;
    display: block;
    width: 320px;
    border: #48dbfb solid 1px;
    border-radius: 5px;
}



select{
    width: 150px;;
    height: 35px;
    border: #48dbfb solid 1px;
    border-radius: 5px;

}
main{
    margin-bottom: 60px;
}

.btn_enviar{
    position: absolute;
    top: 200px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 780px;

}


#btn_registrar {
    display: block;
    margin-left: 37%;
}

button{
    background-color: #f27232;
    padding: 10px;
    width: 170px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 25px -8px rgba(0,0,0,0.75);

}




.mr-1 {
    margin-right: 20px;
}
.mr-2 {
    margin-right: 50px;
}

.ml-1 {
    margin-left: 20px;
}

.mt-2 {
    margin-top: 20px;
}


.position-fix{
    position: fixed;
    bottom: 0px;
}
.form-control {
    display: block;
    width: 315px;
    height: 30px;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 18px;
}

.form-select {
    display: block;
    width: 345px;
    height: 45px;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.42857143;


}

.grid {
    float: left;
    width: 400px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
}



.d1 {
    font-size: 30px;
    margin-top: 20px;
    color: #2f3640;
}

.title_center {
    text-align: center;
}



.middle2 {
	margin-top: 50px;;
	margin-bottom: auto;
}


