<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Modificar padre de familia</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/registrar_padre.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>

<body>

    <header class="main_header">
        <nav>
            <a href="index.html">
            <img class="img_logo" src="./images/Logo.png" width="61" height="80" alt="Logo Costa Rica Educa">
            </a>
            <div class="float-right middle2">
                <div class="float-right mr-2">
                    <a href="registro_centroe.html" class="registrar_cuenta ml-1">Registro Centro Educativo</a>
                    <a href="registro_centroe.html" class="registrar_cuenta ml-1">Registro Familiar</a>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <section id="section">

            <h1 class="d1 color_text title_center mb-1">Registrar padre de familia</h1>

      
            <form id="frm_registro_pf" style="margin-top:20px;">
                <div class="wrapper">
                    <section class="grid">
                        <div>
                            <label class="color_text" for="txt_nombre">Nombre</label>
                            <input type="text" id="txt_nombre" placeholder="Escriba el nombre de usuario">
                        </div>
                        <div>
                            <label class="color_text" for="txt_snombre">Segundo nombre</label>
                            <input type="text" id="txt_snombre" placeholder="Escriba el segundo nombre del usuario">
                        </div>
                        <div>
                            <label class="color_text" for="txt_papellido">Primer apellido</label>
                            <input type="text" id="txt_papellido" placeholder="Escriba el primer apellido del usuario">
                        </div>
                        <div>
                            <label class="color_text" for="txt_sapellido">Segundo apellido</label>
                            <input type="text" id="txt_sapellido" placeholder="Escriba el segundo apellido del usuario">
                        </div>

                        <div>
                            <label class="color_text" for="slt_tipo_id">Tipo de identificación</label>
                            <select class="form-select" id="slt_tipo_id">
                                <option value="">--Seleccione una opción--</option>
                                <option value="Nacional">Nacional</option>
                                <option value="DIMEX">DIMEX</option>
                                <option value="Pasaporte">Pasaporte</option>
                            </select>
                        </div>
                        <div>
                            <label class="color_text" for="txt_id">Identificación</label>
                            <input type="number" min="0" id="txt_id" placeholder="Escriba la identificación">
                        </div>

                        <div>
                            <label class="color_text" for="txt_correo">Correo electrónico</label>
                            <input type="text" id="txt_correo" placeholder="Escriba el correo del usuario">
                        </div>
                        <div>
                            <label class="color_text" for="txt_telefono">Teléfono</label>
                            <input type="number" min="0" id="txt_telefono" placeholder="Escriba el número de teléfono">
                        </div>


                        <div>
                            <label class="color_text" for="slt_provincias">Provincia</label>
                            <select class="form-select" id="slt_provincias">
                                <option value="">--Provincia--</option>

                            </select>
                        </div>
                        <div>
                            <label class="color_text" for="slt_cantones">Cantón</label>
                            <select class="form-select" id="slt_cantones">
                                <option value="">--Cantón--</option>

                            </select>
                        </div>
                        <div>
                            <label class="color_text" for="slt_distritos">Distrito</label>
                            <select class="form-select" id="slt_distritos">
                                <option value="">--Distrito--</option>
                            </select>
                        </div>
                        <div>
                            <label class="color_text" for="cantidad_hijos">Cantidad de hijos</label>
                            <input type="number" min="0" id="cantidad_hijos" placeholder="Escriba el número de hijos">
                        </div>
                        <div>
                            <label class="color_text" for="txt_direccion">Dirección exacta</label>
                            <textarea type="text" id="txt_direccion" placeholder="Escriba la dirección exacta" rows="3"
                                style="height: 108px;"></textarea>
                        </div>

                    </section>

                </div>

                <div class="btn_enviar center">
                    <button type="button" id="btn_registrar">Guardar</button>
                </div>
            </form>
        </section>

    </main>

    <footer class="main_footer">
        <p class="white ml-1">&copy; 2019 Kamelot. Todos los derechos reservados.</p>
        <nav class="footer_nav mt-2 ml-1">
            <a href="./index.html">Inicio</a><span class="vertical-line"> | </span>
            <a href="./faq.html">FAQ</a><span class="vertical-line"> | </span>
            <a href="./contacto.html">Contacto</a>
        </nav>
    </footer>
 
</body>

</html>